/* CSS For homepage Component AKA index.php */
/* CSS For homepage Component AKA index.php */
/* CSS For homepage Component AKA index.php */
/* CSS For homepage Component AKA index.php */
/* CSS For homepage Component AKA index.php */


#getbtn {
    border-radius:25px;
    background:#09847c;
    color:white;
}


#getbtn:hover {
    border-radius:25px;
    background:#f7fd3b;
    color:#26267d;
}